<template>
<tr hx-swap-oob="afterbegin:#table tbody">
    <td>
        <label for="systolic">
            <input type="text" value="{{heartrate.systolic}}" id="systolic"/>
        </label>
        <label for="diastolic"></label>
            <input type="text" value="{{heartrate.diastolic}}" id="diastolic" />
        </label>
        <label for="pulse">
            <input type="text" value="{{heartrate.pulse}}" id="pulse" />
        </label>
        <label for="pulse">
            <input type="text" value="{{heartrate.measured_in|date:'d-m-Y H:i'}}" id="pulse" />
        </label>
    </td>
</tr>
</template>

{% load widget_tweaks %}

<div class="flex flex-col items-center pt-8">
    <form class="form-control max-w-md mx-auto" hx-post="{% url 'add-rate' %}" hx-target="#form" hx-swap="innerhtml">
        {% csrf_token %} {% render_field form.systolic class="input input-primary mb-4" %} {% render_field form.diastolic class="input input-primary mb-4" %} {% render_field form.pulse class="input input-primary mb-8" %} {% if form.password.errors %}
        <div class="error">
            {% for error in form.password.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
