<div class="overflow-x-auto">
    <table class="table table-pin-rows">
        <thead>
            <tr>
                <th>Systolic</th><th>Diastolic</th><th>Pulse</th><th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for heartrate in heartrates%}
                    <tr>
                        <td>
                            <label for="systolic">
                                <input type="text" value="{{heartrate.systolic}}" id="systolic"/>
                            </label>
                            <label for="diastolic"></label>
                                <input type="text" value="{{heartrate.diastolic}}" id="diastolic" />
                            </label>
                            <label for="pulse">
                                <input type="text" value="{{heartrate.pulse}}" id="pulse" />
                            </label>
                            <label for="pulse">
                                <input type="text" value="{{heartrate.measured_in|date:'d-m-Y H:i'}}" id="pulse" />
                            </label>
                        </td>
                    </tr>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
