<div class="overflow-x-auto">
    <table class="table table-pin-rows table-sm rounded-box border border-base-content/5 bg-base-100">
        <thead>
            <tr>
                <th>Systolic</th><th>Diastolic</th><th>Pulse</th><th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for heartrate in heartrates%}
                    <tr>
                        <td>
                                {{heartrate.systolic}}
                        </td>
                        <td>
                                {{heartrate.diastolic}}
                        </td>
                        <td>
                                {{heartrate.pulse}}
                        </td>
                        <td>
                                {{heartrate.measured_in|date:'d-m-Y H:i'}}
                        </td>
                    </tr>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
